

.About_Us{
    width: 100%;
    max-width: 820px;
    margin:130px auto;
    color:#000;
    
}


.About_header{
    font-size: 21px;
    margin-bottom: 40px;
    font-weight: 700;
        color: gold;


}
.About_paragraph{

    background-color: #171054;
        padding: 35px 20px;
        border-radius: 8px;
        border: 1px solid #433e83;
        box-shadow: 0px 0px 3px #22232c;
        position:relative;
        z-index: 9;
    
 

}
.Set_A_Branch{
    line-height: 25px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
    color:#fff
}


.A_Branch{
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 8px;
    color:gold
}
.termspad{
    padding:10px 15px;
}
.conditionsp{
    margin-bottom: 10px;
    color:#fff;
}
.Notepad{
    font-weight: 700;
    color:#1365d3;
}


@media (max-width:1024px){
    .About_Us {
    
        max-width: 768px;
        
    }
}

@media (max-width:768px){
    .About_Us {
    
        max-width: 580px;
        margin: 25px auto 15px auto;
        
    }
}
@media (max-width: 594px){
.About_Us {
  
  max-width:100%;
  padding:0 8px;
}
}



