.allTipsHeader{
    display: flex;
    width:100%;
    max-width: 1100px;
    margin:30px auto 0 auto;
   
}
.allTipsHeader1{
    width:40%
}
.apple{
    width:200px;
    height:200px;
    background-color: #3b1995;
    position: absolute;
   bottom:2px;
   right:2px;
   border-radius: 50%;
   filter: blur(55px);

}
.apple1{
    width: 200px;
    height: 200px;
    background-color: #3b1995;
    position: absolute;
    top: 2px;
    right: 2px;
    border-radius: 50%;
    filter: blur(55px);
}
.apple2 {
    width: 200px;
    height: 200px;
    background-color: #3b1995;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    filter: blur(55px);
}
.apple3 {
    width: 200px;
    height: 200px;
    background-color: #3b1995;
    position: absolute;
    bottom: 2px;
    left: 2px;
    border-radius: 50%;
    filter: blur(55px);
}
.allTipsHeader3 {
    width: 60%
}
.allTipsHeader2{
   
width: 100%;
position: relative;
z-index: 6;
}
.tipsWa{
 margin-top: 50px;
    position: relative;
    overflow: hidden;
}
.allTipsHeader4{
    color:#fff;
    font-size: 60px;
    font-weight: 700;
    position: relative;
    z-index: 4;
}
.allNewTips{
    background-color: #171054;
    padding:10px 10px;
}
.apple4{
    position: absolute;
    bottom: -40px;
    width: 100%;
    height:100px;
    background-color: #171054;
    border-top-right-radius:50% ;
    border-top-left-radius: 50%;
    z-index: -1;
    
}
.allTipsHeader5{
    display: flex;
    height: 400px;
    align-items: center;
    justify-content: left;
}
@media(max-width:768px){
    .allTipsHeader {
          
            flex-direction: column;
            margin: 6px auto 0 auto;
        }

                .allTipsHeader4 {
                   padding:10px 2px;
                    font-size: 28px;
                    text-align: center !important;
                  
                    margin-top:0px;
                }
        .allTipsHeader5 {   
                     height: 50px;
                                   
                 }
                 .EngLan{
                font-size: 12px;
                font-weight: 200;
                 }
                 .TimeDiv li{
                    font-size: 11px !important;
                    font-weight: 100 !important;
                 }
                                 .TimeDiv1 li{
                                    font-size: 11px;
                                        font-weight: 100;
                                 }
                                 .tipsWa {
                                     margin-top: 7px;
                                   
                                 }

                .allTipsHeader1 {
                width: 100%;
                 padding: 0 10px;
                  }
.allTipsHeader3 {
    width: 100%;
    margin-top: 0;
}
.TimeDiv li {
    width: 18%;
    text-align: center;
}

}