.BgColor{
    /* background-color: #1f326d; */
    width:100%;
    height:100%;
    /* max-height: 100%; */
    overflow-y: scroll;
}
.BgColor::-webkit-scrollbar {
    display: none;
    
}

.page10{
    box-shadow: none;
     
        border: 1px  solid #7670d1 !important;
        color: #fff !important;
}
.page11{
    background-color: inherit !important;
}
.page12 {
    background-color: #0d0740 !important;
    border: 1px solid #7670d1 !important;
}
.errpage{
    color:red;
    padding:5px 5px 5px 10px;
}
.DivForming{
    display:flex;
    align-items: center !important;
    justify-content: center !important;
    margin: auto auto ;
}
.Form_Div{
   width:100%;
   max-width: 450px;
   height: 100%;

   border:1px solid #4d546a;
       
    background-color: #171054 !important;
   padding:15px 15px;
   border-radius: 10px;
   position: relative;
   z-index: 5;
   
}
/* .mD{
    height:200px !important
} */
.formDivPAd{
    padding:15px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height:calc(100vh - 10vh)
}
.New_Account{
        text-align: center;
        margin-bottom: 10px;
        color:#e1ca3b;
        font-weight: 600;
}
.Full_Name{
    width:100%;
    padding:10px 7px;
    margin-bottom: 10px;
}
.Full_Name:focus{
  outline:none;
  
background-color: inherit !important;
}
.Full_Name:active{
    background-color: inherit !important;
}
.Full_Name:visited {
    background-color: inherit !important;
}
.RegisterM{
    padding:10px 10px;
    text-align: center;
    /* background-color: #fec82f; */
    border-radius: 40px;
    color:#000;
    border:0;
    outline: none;
    width:100%;
    

}
.regmin{
    cursor:pointer;
}
.regmin:hover{
    background-color:#00e35e;
    color:#000;

}
.Or_with2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:18px 0;
    color:#fff
}
.Or_With{
   width:33%;
   border-bottom:1px solid #3d388ba8;
   
}
.Googgle{
    background-color: #fff;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:8.5px 10px;
    color:#000;
    border-radius: 40px;
    text-align: center;
    margin-bottom: 15px;
    cursor:pointer;
}
.Googgle1 {
    background-color: #fff;
    padding: 10px 10px;
    color: #000;
    border-radius: 40px;
    text-align: center;
    margin-bottom: 15px;
    cursor: pointer;
}
.Already_Account{
    text-align: center;
    color:#fff;
}
.LOGIN_HERE_NOW{
    /* color:greenyellow; */
    padding:10px;
    text-align: center;
    font-weight: 700;
}
.p_LoGIn{
    color:#0bf921;
    text-decoration: none;
}
.Over_18{
    color:#fff;
    font-size: 12px;
}
.HERE0{
    color:#964747;
    font-size: 12px;
    font-weight: 500;
}
.Checkbox_div{
    margin-bottom: 10px;
    display: flex;
    align-items: baseline;
}
.trems1{
    color:#0bf921;
    font-weight:700;
}
.Bym{
    margin-right: 3px;
}
.Include{
    color:#964747;
    font-size: 13px;
    margin-bottom: 20px;
}
.gooleI{
    color:#5e6370;
    font-size: 26px;
}
.goole {
    color: #ffffff;
    font-size: 30px;
}
.NoteP{
    color:#fff;
}

@media (max-width:768px){
    .Form_Div {
        margin: 50px auto !important;
      
       
    }
}
@media (max-width:320px){
    .Or_With{
        width:30%
    }
}